---
import '@/styles/bubbles.css';
---

<div
  class="pointer-events-none fixed inset-0 z-40 overflow-hidden"
  aria-hidden="true"
  style="pointer-events: none;"
>
  <span class="bubble bubble-1"></span>
  <span class="bubble bubble-2"></span>
  <span class="bubble bubble-3"></span>
  <span class="bubble bubble-4"></span>
  <span class="bubble bubble-5"></span>
  <span class="bubble bubble-6"></span>
</div>
